#topBannerSection {
    color: white !important;
    z-index: 33;
    padding: calc(5px + 0.5vw) calc(10px + 5vw) !important;
    background: radial-gradient(ellipse at 25% 0%, rgba(17, 64, 117, 0.96) 1%, rgba(20, 20, 20, 1) 49%, rgba(0, 0, 0, 1) 100%);
    h4 {
        font-size: clamp(1em, 2vw, 1.2em) !important;
    }
    p {
        font-weight: 400;
    }
}