#sliders {
    .slide {
        position: relative;
        background-position: center;
        background-size: cover;
        overflow: hidden;
        background-color: rgba(0, 0, 0, 0.4);
        background-blend-mode: overlay;
        .slide_upper_content {
            position: absolute;
            left: 50%;
            top: 18%;
            transform: translate(-50%);
            color: white;
            @media (max-width: 576px) {
                top: 25%;
            }
            .primary_link {
                a {
                    color: white;
                }
            }
        }
        .slide_lower_content {
            position: absolute;
            left: 50%;
            bottom: 8%;
            transform: translate(-50%);
            @media (max-width: 576px) {
                bottom: 12%;
            }
            .buttons {
                .button {
                    .bottom-button {
                        width: calc(120px + 10vw);
                        border: none;
                    }
                    .second-button {
                        background: rgba( 16, 15, 15, 0.4);
                        backdrop-filter: blur( 4px);
                        -webkit-backdrop-filter: blur( 4px);
                        border-radius: 10px;
                        border: none;
                    }
                }
            }
            .content {
                color: white;
                .content_link {
                    a {
                        color: white;
                    }
                }
            }
        }
    }
}